﻿<header>
    <nav class="navbar">
        <div class="navbar-header">
            <h4><a asp-controller="Home" asp-action="Index">Rise Airlines</a></h4>
            <img class="image-icon" src="/assets/header-plane.png" alt="">
        </div>
        <ul class="navbar-items">
            <li class="items"><a asp-controller="Airport" asp-action="Index">Airports</a></li>
            <li class="items"><a asp-controller="Airline" asp-action="Index">Airlines</a></li>
            <li class="items"><a asp-controller="Flight" asp-action="Index">Flights</a></li>
        </ul>
    </nav>
</header>