﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rise Airlines @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/airlines.css" asp-append-version="true" />
</head>
<body>
    <partial name="PartialViews/_Navigation" />

    <main>
        @RenderBody()
    </main>

    <partial name="PartialViews/_Footer" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
