#description {
    height: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-top: 4rem;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.2rem;
    align-items: center;
    width: 100%;
}

.header-divider {
    width: 6.25rem;
}

.header > h1 {
    font-size: 30px;
    font-weight: 500;
}

.table-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 3px solid #f2f2f2;
}

.table-section th {
    background-color: #E5E5E5;
    position: sticky;
    top: 0;
}

.table-section td {
    max-width: 265px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.table-section td:hover {
    overflow: visible;
    white-space: wrap;
    word-wrap: break-word;
}

.table-section th,
.table-section td {
    padding: 10px 30px 10px 30px;
}

.table-section tr {
    scroll-snap-align: start;
}

.scrollable-table {
    max-height: 400px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    margin-top: 20px;
}

.scrollable-table::-webkit-scrollbar {
    width: 4px;
    background-color: #f1f1f1;
}

.scrollable-table::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.table, td, th {
    border: 1px solid;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.orange-button {
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #fca311;
    width: 20%;
    margin-bottom: 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.form-fieldset {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    width: 100%;
    padding: 20px 20px 0 20px;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.form-item label {
    align-self: flex-start;
}

.form-item input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

.form-submit {
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #fca311;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.active {
    color: #fca311;
    text-decoration: underline;
}

.search-container {
    margin-top: 20px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-search {
    width: 50%;
    max-width: 700px;
    background: #fca311;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}

    .form-search input {
        background: #fca311;
        flex: 1;
        border: 0;
        outline: none;
        font-size: 20px;
        width: 100%;
    }

    .form-search button {
        border: 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #fca311;
        cursor: pointer;
    }

.form-search button img {
    width: 25px;
}

.form-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter-select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%
}

.form-filters button {
    width: 100%;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #fca311;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

::placeholder {
    color: #ffffff;
}

.span-error {
    color: red;
    align-self: start;
}

.div-error-group {
    align-self: start;
}

.div-error-group ul {
    padding-left: 15px
}

.div-error-group li {
    color: red;
}

input:disabled,
input[disabled] {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}

#go-up-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: #fca311;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    display: none;
}

/* CSS for loading animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border: 8px solid #ffffff;
    border-top: 8px solid #fca311;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Spin animation */
}
.loader-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure the loader is on top of other elements */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.edit-button, .delete-button {
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background-color: #fca311;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}