.navbar {
    display: flex;
    background-color: #000000;
    overflow: hidden;
    color: #ffffff;
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
}

.navbar-header {
    display: flex;
    align-items: center;
    margin-left: 0.625rem;
}

.navbar-header h4 {
    font-weight: 100;
}

.navbar-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0.625rem 0.625rem 0.625rem auto;
}

.items {
    display: inline-block;
    margin-right: 1.25rem;
    align-self: flex-end;
}

.items a {
    text-decoration: none;
    color: inherit;
}

.items a:hover {
    color: #FCA311;
    transition: 0.4s ease-in-out;
}


.image-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.625rem;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.dashboard-container h1 {
    font-size: 1.75em;
}

.divider {
    height: 35px;
}

.dashboard-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 55%;
}

.dashboard-item-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #FCA311;
    border-radius: 5%;
    width: 200px;
    height: 200px;
    padding: 0 50px 0 50px;
}

.dashboard-item-content p {
    font-weight: 600;
}

.dashboard-item-button {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #E5E5E5;
    padding: 5px 0 5px 0;
}

.dashboard-item img {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.dashboard-item button {
    cursor: pointer;
}

.dashboard-item button:hover {
    color: #FCA311;
    transition: 0.4s ease-in-out;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 0.625rem;
}

.footer h4 {
    font-size: 0.75rem;
    font-weight: 100;
}