﻿@using AirlinesWeb.Models.Flight

@model (List<FlightViewModel>, FlightViewModel);

@{
    ViewData["Title"] = "- Flight";
}

<div class="container">
    <div class="header">
        <a asp-controller="Home" asp-action="Index"><img src="/assets/left sidebar.png" alt="bar" /></a>
        <h1>Flights</h1>
        <div class="header-divider"></div>
    </div>
    <section class="table-section">
        <div class="search-container">
            <form class="form-search" asp-controller="Flight" asp-action="Index" method="get">
                <input type="text" placeholder="search" name="search" />
                <select name="searchFilter" id="searchFilter">
                    <option value="">---</option>
                    <option value="Flight_Number">Flight Number</option>
                    <option value="From">From</option>
                    <option value="To">To</option>
                    <option value="Price">Price</option>
                    <option value="Departure">Departure</option>
                    <option value="Arrival">Arrival</option>
                </select>
                <button type="submit"><img src="~/assets/search.png" /></button>
            </form>
            <form class="form-filters" asp-controller="Flight" asp-action="Index" method="get">
                <label for="flightNumberFilter">Filter by flight number:</label>
                <select class="filter-select" name="flightNumberFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Flight Number (ASC)</option>
                    <option value="DESC">Flight Number (DESC)</option>
                </select>

                <label for="fromFilter">Filter by from:</label>
                <select class="filter-select" name="fromFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">From (ASC)</option>
                    <option value="DESC">From (DESC)</option>
                </select>

                <label for="toFilter">Filter by to:</label>
                <select class="filter-select" name="toFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">To (ASC)</option>
                    <option value="DESC">To (DESC)</option>
                </select>

                <label for="priceFilter">Filter by price:</label>
                <select class="filter-select" name="priceFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Price (ASC)</option>
                    <option value="DESC">Price (DESC)</option>
                </select>

                <label for="departureFilter">Filter by departure:</label>
                <select class="filter-select" name="departureFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Departure (ASC)</option>
                    <option value="DESC">Departure (DESC)</option>
                </select>

                <label for="arrivalFilter">Filter by arrival:</label>
                <select class="filter-select" name="arrivalFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Arrival (ASC)</option>
                    <option value="DESC">Arrival (DESC)</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="scrollable-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Flight Number</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Price</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FlightViewModel flight in Model.Item1)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => flight.FlightNumber)</td>
                            <td>@Html.DisplayFor(modelItem => flight.FromAirport!.Name)</td>
                            <td>@Html.DisplayFor(modelItem => flight.ToAirport!.Name)</td>
                            <td>@Html.DisplayFor(modelItem => flight.Price)</td>
                            <td>@Html.DisplayFor(modelItem => flight.DepartureDateTime)</td>
                            <td>@Html.DisplayFor(modelItem => flight.ArrivalDateTime)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <button id="go-up-button" class="hidden">Go Up</button>
    <button class="orange-button" id="show-table-button">Hide Table</button>
    <button class="orange-button" id="show-form-button">Show Form</button>
    <section class="form-section" id="form-section">
        <form class="form-container" asp-action="Create">
            @if (ViewBag.Error != null)
            {
                <span class="span-error">@ViewBag.Error</span>
            }

            <div class="div-error-group" asp-validation-summary="All"></div>

            <fieldset class="form-fieldset">
                <legend>Add New Flight</legend>

                <div class="form-item">
                    <label for="flightNumber">Flight number</label>
                    <input type="text" id="flightNumber" name="flightNumber" asp-for="Item2.FlightNumber" value="@Model.Item2.FlightNumber" />
                    <span id="flightNumber-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="fromAirport">From</label>
                    <input type="text" id="fromAirportName" name="fromAirportName" asp-for="Item2.FromAirportName" value="@Model.Item2.FromAirportName"/>
                    <span id="fromAirportName-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="toAirport">To</label>
                    <input type="text" id="toAirportName" name="toAirportName" asp-for="Item2.ToAirportName" value="@Model.Item2.ToAirportName" />
                    <span id="toAirportName-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="price">Price</label>
                    <input type="number" id="price" name="price" asp-for="Item2.Price" value="@Model.Item2.Price" />
                    <span id="price-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="departureDatetime">Departure date</label>
                    <input type="datetime-local" id="departureDatetime" name="departureDatetime" asp-for="Item2.DepartureDateTime" value="@Model.Item2.DepartureDateTime" />
                    <span asp-validation-for="Item2.DepartureDateTime"></span>
                    <span id="departureDateTime-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="arrivalDatetime">Arrival date</label>
                    <input type="datetime-local" id="arrivalDatetime" name="arrivalDatetime" asp-for="Item2.ArrivalDateTime" value="@Model.Item2.ArrivalDateTime" />
                    <span id="arrivalDatetime-error" class="span-error"></span>
                </div>

                <input class="form-submit" type="submit" value="Submit">
            </fieldset>
        </form>
    </section>
</div>

@section Scripts {
    <script src="~/js/airline.js"></script>
    <script src="~/js/flights/validation.js"></script>
    <script src="~/js/animation.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
