﻿@using AirlinesWeb.Models.Airport

@model (List<AirportViewModel>, AirportViewModel);

@{
    ViewData["Title"] = "- Airport";
}

<div class="container">
    <div class="header">
        <a asp-controller="Home" asp-action="Index"><img src="/assets/left sidebar.png" alt="bar" /></a>
        <h1>Airports</h1>
        <div class="header-divider"></div>
    </div>
    <section class="table-section">
        <div class="search-container">
            <form class="form-search" asp-controller="Airport" asp-action="Index" method="get">
                <input type="text" placeholder="search" name="search" />
                <select name="searchFilter" id="searchFilter">
                    <option value="">---</option>
                    <option value="Name">Name</option>
                    <option value="City">City</option>
                    <option value="Code">Code</option>
                    <option value="Runways">Runways</option>
                    <option value="Founded">Founded</option>
                </select>
                <button type="submit"><img src="~/assets/search.png" /></button>
            </form>
            <form class="form-filters" asp-controller="Airport" asp-action="Index" method="get">
                <label for="nameFilter">Filter by name:</label>
                <select class="filter-select" name="nameFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Name (ASC)</option>
                    <option value="DESC">Name (DESC)</option>
                </select>

                <label for="countryFilter">Filter by country:</label>
                <select class="filter-select" name="countryFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Country (ASC)</option>
                    <option value="DESC">Country (DESC)</option>
                </select>

                <label for="cityFilter">Filter by city:</label>
                <select class="filter-select" name="cityFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">City (ASC)</option>
                    <option value="DESC">City (DESC)</option>
                </select>

                <label for="codeFilter">Filter by code:</label>
                <select class="filter-select" name="codeFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Code (ASC)</option>
                    <option value="DESC">Code (DESC)</option>
                </select>

                <label for="runwaysFilter">Filter by runways:</label>
                <select class="filter-select" name="runwaysFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Runways (ASC)</option>
                    <option value="DESC">Runways (DESC)</option>
                </select>

                <label for="foundedFilter">Filter by founded:</label>
                <select class="filter-select" name="foundedFilter" id="filters">
                    <option value="">---</option>
                    <option value="ASC">Founded (ASC)</option>
                    <option value="DESC">Founded (DESC)</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="scrollable-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Code</th>
                        <th>Runways</th>
                        <th>Founded</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AirportViewModel airport in Model.Item1)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => airport.Name)</td>
                            <td>@Html.DisplayFor(modelItem => airport.Country)</td>
                            <td>@Html.DisplayFor(modelItem => airport.City)</td>
                            <td>@Html.DisplayFor(modelItem => airport.Code)</td>
                            <td>@Html.DisplayFor(modelItem => airport.RunwaysCount)</td>
                            <td>@Html.DisplayFor(modelItem => airport.Founded)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
    <button id="go-up-button" class="hidden">Go Up</button>
    <button class="orange-button" id="show-table-button">Hide Table</button>
    <button class="orange-button" id="show-form-button">Show Form</button>
    <section class="form-section" id="form-section">
        <form class="form-container" asp-action="Create">
            @if (ViewBag.Error != null)
            {
                <span class="span-error">@ViewBag.Error</span>
            }

            <div class="div-error-group" asp-validation-summary="All"></div>

            <fieldset class="form-fieldset">
                <legend>Add New Airport</legend>

                <div class="form-item">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" asp-for="Item2.Name" value="@Model.Item2.Name" />
                    <span id="name-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country" asp-for="Item2.Country" value="@Model.Item2.Country" />
                    <span id="country-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" asp-for="Item2.City" value="@Model.Item2.City" />
                    <span id="city-error" class="span-error"></span>
                </div>
                <div class="form-item">
                    <label for="code">Code</label>
                    <input type="text" id="code" name="code" asp-for="Item2.Code" value="@Model.Item2.Code" />
                    <span id="code-error" class="span-error"></span>
                </div>
                <div class="form-item">
                    <label for="runwaysCount">Runways</label>
                    <input type="number" id="runwaysCount" name="runwaysCount" asp-for="Item2.RunwaysCount" value="@Model.Item2.RunwaysCount" />
                    <span id="runwaysCount-error" class="span-error"></span>
                </div>

                <div class="form-item">
                    <label for="founded">Founded</label>
                    <input type="date" id="founded" name="founded" asp-for="Item2.Founded" value="@Model.Item2.Founded" />
                    <span id="founded-error" class="span-error"></span>
                </div>

                <input class="form-submit" type="submit" value="Submit">
            </fieldset>
        </form>
    </section>
</div>

@section Scripts {
    <script src="~/js/airline.js"></script>
    <script src="~/js/airports/validation.js"></script>
    <script src="~/js/animation.js"></script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



