﻿@using AirlinesWeb.Models.Home

@{
    ViewData["Title"] = "- Home";
}

@model HomeViewModel

<div class="dashboard-container">
    <h1>Welcome To Dashboard</h1>
    <div class="divider"></div>
    <div class="dashboard-items">
        <div class="dashboard-item">
            <div class="dashboard-item-content">
                <h4>Airports</h4>
                <img src="assets/mdi_airport.png" alt="mdi_airport">
                <p>
                    @Model.AirportCount
                </p>
            </div>
            <button class="dashboard-item-button"><a asp-controller="Airport" asp-action="Index">Add New Airport</a></button>
        </div>
        <div class="dashboard-item">
            <div class="dashboard-item-content">
                <h4>Airlines</h4>
                <img src="assets/ri_plane-fill.png" alt="ri_plane">
                <p>
                    @Model.AirlineCount
                </p>
            </div>
            <button class="dashboard-item-button"><a asp-controller="Airline" asp-action="Index">Add New Airline</a></button>
        </div>
        <div class="dashboard-item">
            <div class="dashboard-item-content">
                <h4>Flights</h4>
                <img src="assets/carbon_flight-schedule.png" alt="">
                <p>
                   @Model.FlightCount
                </p>
            </div>
            <button class="dashboard-item-button"><a asp-controller="Flight" asp-action="Index">Add New Flight</a></button>
        </div>
    </div>
</div>
